<div class="login-wrapper">
<div class="bg-wrapper-dark">
    <div class="login-box">
        <h1>login</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="" value=""></input>
        </div>
        <div class="textbox">
            <i class="fas fa-unlock-alt"></i>
            <input type="password" placeholder="Password" name="" value=""></input>
        </div>
        
        <input class="button" type="button" name="" value="Sign in"></input>
    </div>
</div>
</div>