<div class="flash-padding"></div>

<div class="fullpageMenu">
    <div class="banner">
        <%= image_tag "show_bg.jpg" %>
    </div>
    <div class="navLists">
        <ul>
            <li><a href="#" data-text="Home">Home</a></li>
            <li><a href="#" data-text="About">About</a></li>
            <li><a href="#" data-text="Services">Services</a></li>
            <li><a href="#" data-text="Portfolios">Portfolios</a></li>
            <li><a href="#" data-text="Teams">Teams</a></li>
            <li><a href="#" data-text="Contact">Contact</a></li>
        </ul>
    </div>
</div>