<div class="flash-padding"></div>

<div class="fullpageMenu" id="navLists">
    <div class="banner">
        <%= image_tag "show_bg.jpg" %>
    </div>
    <div class="navLists">
        <ul>
            <li><a href="#" data-text="プロフィール">Your profile</a></li>
            <li><a href="#" data-text="あなたの先生" data-toggle="modal" data-target="#yourTeacherModal">Your Teacher</a></li>
            <li><a href="#" data-text="コミュニティ">Communities</a></li>
            <li><a href="#" data-text="メッセージ">Messages</a></li>
        </ul>
    </div>
</div>
<span class="menuicon" id="toggle"></span>
<script type="text/javascript">
    function menuToggle(){
        var navList = document.getElementById('navLists');
        navList.classList.toggle('active');
    }
</script>


<!-- あなたの先生Modal -->
<div class="modal fade" id="yourTeacherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Your Teachers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= @student.teacher.full_name %> | <%= @student.nickname %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>