<header>
    <a href="/" class="header-logo"><span>Teach</span>Community</a>
    <input type="checkbox" id="check" style="display: none">
    <label for="check" class="checkbtn">
    <i class="fas fa-align-justify header-menu-icon"></i>   
    </label>
    <ul class="header-items">
        <li>
            <a href="#" data-toggle="modal" data-target="#teacherLoginModal">Teacher</a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#studentLoginModal">Student</a>
        </li>
        <li>
            <a href="#">Communities</a> 
        </li>
    </ul>
    
    
</header>

<!-- teacherLoginModal -->
<div class="modal fade" id="teacherLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-teacherLogin-wrapper">
          
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" name="" value=""></input>
            </div>
            <div class="textbox">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" placeholder="Password" name="" value=""></input>
            </div>
            
            <input class="button" type="button" name="" value="Sign in"></input>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- teacherLoginModal -->
<div class="modal fade" id="studentLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-teacherLogin-wrapper">
          
        <div class="login-box">
            <h1>SLogin</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" name="" value=""></input>
            </div>
            <div class="textbox">
                <i class="fas fa-unlock-alt"></i>
                <input type="password" placeholder="Password" name="" value=""></input>
            </div>
            
            <input class="button" type="button" name="" value="Sign in"></input>
        </div>
        
      </div>
    </div>
  </div>
</div>

