<div class="producer_page">
    <div class="card_container1">
        <div class="profile_img"></div>
        <div class="text_content">
            <h1>Hiroharu Hara</h1>
            <h2>About</h2>
            <p class="text_description">
                ・1997年東京に生まれる.
                <br>
                ・小金井第四小学校出身.
                <br>
                学生時代は陸上部に所属し関東大会出場.
                <br>
                <br>
                今日は現役プログラマーでありながらも,合格率7%の司法予備試験に合格。
                
                誰もが認める学問界の異端児
                <br>
                <br>
                [大切にしている言葉]
                <br>
                汚物の中にある一輪の花は美しい。どんな場でも美しく咲くあの花のようになりたい。
                <br>
                ひろはるです。
            </p>
            <div class="text_btn">
                <button type="button" class="btn btn-danger text_btn1">
                    Contact Him
                </button>
            </div>
        </div>
    </div>
    <div class="card_container2">
        <div class="profile_img"></div>
        <div class="text_content">
            <h1>Hiroharu Hara</h1>
            <h2>About</h2>
            <p class="text_description">
                ザコ
            </p>
            <div class="text_btn">
                <button type="button" class="btn btn-danger text_btn1">
                    Contact Him
                </button>
            </div>
        </div>
    </div>
    
</div>