<div class="home-wrapper">
    <div class="message">
        <h3>TeachCommunityへようこそ</h3>
    </div>
    <div class="content">
        <p>
            ここでは受験勉強をする上で<br>
            モチベーションをあげる仕組みや<br>
            持続するためのサービスを提供しております。<br>
        </p>
        <p>
            生徒の方は、<br>
            コミュニティを利用し、<br>
            自分の学習状況や、他の生徒の学習状況を<br>
            ご確認いただけます。
        </p>
        <p>
            先生の方は、<br>
            生徒たちの学習状況を管理を容易にする<br>
            様々なサービスをご用意しておりますので<br>
            どうぞご利用してください。<br>
        </p>
    </div>
</div>
<section class="section-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag "books.jpg", alt:"Pray"%>
            </div>
            <div class="col-md-6">
                <div class="panel text-left">
                    <h1>Recomended Texts</h1>
                    <p class="pt-4">
                        From here, you can find your text books.
                        <br>
                        Also you can see the texts your teacher or education experts recommend.
                        <br>
                        ここから参考書一覧を見ることができます。
                        <br>
                        また先生やOB/OGなど受験のプロがオススメする参考書もたくさん有ります。
                    </p>
                    <p>
                        It is important to choose carefully your texts.
                        <br>
                        That is because you learn a lot from it.
                        <br>
                        学習する教材や参考書はあなたを合格に導いてくれる大切な地図です。
                        <br>
                        慎重に選びましょう。
                    </p>
                    <div class="btn-wrap">
                    <a href="#" class="text_btn">Tap Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="panel text-left">
                    <h1>Information of University</h1>
                    <p class="pt-4">
                        From here, you can see information and situation of University.
                        <br>
                        If you know the enemy and yourself, 
                        you need not fear the result of a hundred battles.
                        <br>
                        ここから大学に関する情報を見れます。
                        <br>
                        まず相手を知ることが合格をする第一歩
                    </p>
                    <p>
                        It is important to get information of examination.
                        <br>
                        That is because you can plan how to study today.
                        <br>
                        大学受験に関する情報を得ることは重要です。
                        <br>
                        得られた情報を元に今何をすべきか考えよう。
                    </p>
                    <div class="btn-wrap">
                    <a href="#" class="text_btn">Tap Here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <%= image_tag "college.jpg", alt:"Pray"%>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h6>大学受験のための自己分析</h6>
                <h1>Self-Analysis For Choosing College</h1>
                <p>
                    自分の人生の今までを振り返り自分を解体し
                    <br>
                    「将来何がしたいのか」「将来どうありたいのか」
                    を改めて考え直しましょう。
                    <br>
                    そうすれば自ずと行きたい大学は見えてくるはず。
                    <br>
                    <br>
                    もしかしたら本当に行きたい大学と志望している大学は必ずしも一致しないかもしれない。
                    <br>
                    もちろん大学に行かない選択肢だってありだ。ここで改めて「自分を分析」しよう。
                </p>
                <button class="btn btn-light px-5 py-2">Analyse yourself</button>
            </div>
            <div class="col-md-4 col-sm-9 h-25">
                <%= image_tag "thinker.jpg", alt:"thinker", class: "box-img1"%>
            </div>
        </div>
    </div>
</section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="text-light">About us</h1>
                <p class="text-muted">
                    You can see the details of producer of this Web site
                </p>
                <a href="/producer" class="producer_btn">Tap Here</a>
                <p class="pt-4 text-muted">
                    Copyright @2020 All right reserved
                </p>
            </div>
        </div>
    </div>
</footer>