<div class="home-wrapper">
    <div class="message">
        <h3>TeachCommunityへようこそ</h3>
    </div>
    <div class="content">
        <p>
            ここでは受験勉強をする上で<br>
            モチベーションをあげる仕組みや<br>
            持続するためのサービスを提供しております。<br>
        </p>
        <p>
            生徒の方は、<br>
            コミュニティを利用し、<br>
            自分の学習状況や、他の生徒の学習状況を<br>
            ご確認いただけます。
        </p>
        <p>
            先生の方は、<br>
            生徒たちの学習状況を管理を容易にする<br>
            様々なサービスをご用意しておりますので<br>
            どうぞご利用してください。<br>
        </p>
    </div>
</div>
