.flash-wrapper {
    width: 100%;
    text-align: center;
    background: #252525;
    margin: 0;
}

.flash-padding {
    width: 100%;
    height: 70px;
}

.flash-text {
    color: skyblue;
    margin: 0;
}