// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("top_bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-wrapper > .message {
    width: 95%;
    height: 150px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 50px;
}
.home-wrapper > .message > h3 {
    font-size: 30px;
    margin-bottom: 40px;
}
.home-wrapper > .content > p {
    margin-bottom: 10px;
    color: white;
}

.home-wrapper > .content {
    width: 95%;
    height: 200px;
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: space-around;
}

.modal-teacherLogin-wrapper {
    width: 300px;
    height: 600px;
    background: #232323;
}