.producer_page {
    font-family: "sans-serif";
    display: flex;
    justify-content: center;
    background-color: #e7e7e7;
}

.producer_page .card_container1 {
    width: 350px;
    height: 720px;
    background-color: #1e1f26;
    margin-top: 68px;
    box-shadow: 5px 5px 50px 5px #1e1f26;
    margin-right: 80px;
}

.producer_page .card_container1 .profile_img{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('hiroharu2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, #1e1f26 50%);
}


.producer_page .card_container1 .profile_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skew(45deg);
    transition: 0.5s;
}

.producer_page .card_container1 .profile_img:hover::before {
    left: -180px;
}


.producer_page .card_container1 .text_content {
    font-family: serif;
    margin: 0 20px;
    color: #e7e7e7;
}

.producer_page .card_container1 .text_content > h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 20px;
}

.producer_page .card_container1 .text_content > h2{
    font-size: 20px;
    font-weight: 400;
}

.producer_page .card_container1 .text_content .text_description {
    font-size: 15px;
    font-weight: 400;
    color :#9b9b9b;
    line-height: 1.3;
    text-align: justify;
}

.producer_page .card_container1 .text_content .text_btn {
    text-align: center;
}

.producer_page .card_container1 .text_content .text_btn .text_btn1{
    width: 140px;
    border: 1px solid #ef4141;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}









.producer_page .card_container2 {
    width: 350px;
    height: 720px;
    background-color: #1e1f26;
    margin-top: 68px;
    box-shadow: 5px 5px 50px 5px #1e1f26;
}

.producer_page .card_container2 .profile_img{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('kosuke.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, #1e1f26 50%);
}


.producer_page .card_container2 .profile_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skew(45deg);
    transition: 0.5s;
}

.producer_page .card_container2 .profile_img:hover::before {
    left: -180px;
}


.producer_page .card_container2 .text_content {
    font-family: serif;
    margin: 0 20px;
    color: #e7e7e7;
}

.producer_page .card_container2 .text_content > h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 20px;
}

.producer_page .card_container2 .text_content > h2{
    font-size: 20px;
    font-weight: 400;
}

.producer_page .card_container2 .text_content .text_description {
    font-size: 20px;
    font-weight: 400;
    color :#9b9b9b;
    line-height: 1.3;
    text-align: center;
}

.producer_page .card_container2 .text_content .text_btn {
    text-align: center;
}

.producer_page .card_container2 .text_content .text_btn .text_btn1{
    width: 140px;
    border: 1px solid #ef4141;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

