.school-wrapper {
    background: #fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.school-card {
    width: 200px;
    height: 280px;
    box-shadow: 0px 0px 16px gray;
    flex-shrink: 0;
    margin: 40px 20px;
    overflow-Y: scroll;
    text-align: center;
    transition: .4s;
}

.school-card .image-wrapper {
    width: 100%;
    height: 50%;
    background: #ccc;
}

.school-card .image-wrapper img {
    width: 100%;
    height: 100%;
}

.school-card > p {
    font-size: 13px;
    text-align: center;
}

.school-card:hover {
    transform: scale(1.2);
}
