.topics-wrapper {
}
.topics-wrapper > .list-wrapper {
    display: flex;
    justify-content: space-around;
}

.topic-list {
    width: 360px;
    padding: 10px 10px;
}

.topic-list > h3 {
    padding: 10px 0 10px 30px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3px;
}
.topic-list > h3:before {
    position: absolute;
    content: '';
    top: 0;
    left: -97%;
    width: 100%;
    height: 100%;
    background: tomato;
    z-index: -1;
    transition: .5s;
}
.topic-list > h3:hover:before {    
    left: -50%;
}
.topic-list > h3:hover {    
    color: white;
}
.topic-list > .card-wrapper {    
    overflow: scroll;
    height: 600px;
}
.topic-list  .card-wrapper .topic-card {    
    border-bottom: 1px solid gray;
    
    padding: 13px 0 10px 5px;
}

.topic-list  .card-wrapper .topic-card a {
    font-size: 13px;
    position: relative;
    padding-left: 15px;
    overflow: hidden;
}
 .topic-card a:before {
    position: absolute;
    content: '';
    top: 0;
    left: -99%;
    width: 100%;
    height: 100%;
    background: tomato;
    z-index: -1;
    transition: .5s;
}
.topic-list  .card-wrapper .topic-card:hover a:before {
    left: -50%;
}

.topic-list .sundai-c:before {
    background: skyblue;
}
.topic-list .tousin-c:before {
    background: #ffff00;
}
.topic-list h3.tousin-c:hover {
    color: black;
}

.topics-wrapper > h1 {
    margin-left: 30px;
    padding-top: 100px;
    text-align: center;
}