<div class="flash-padding"></div>
<h1>Communities#index</h1>
<p>Find me in app/views/communities/index.html.erb</p>
<hr></hr>

<% @coms.each do |com| %>
    <h3><%= com.name %></h3>
    <p><%= com.introduction %></p>
    <p><%= com.auth_code %></p>
    
<% end %>
<hr></hr>
<% if @myComs.present? %>
    <% @myComs.each do |mycom| %>
        <h2><%= mycom.name %></h2>
    <% end %>
<% end %>
